body {
<<<<<<< HEAD
    color: white;
<<<<<<< HEAD
    background-color: blue;
    font-family: 'Sacramento', cursive;
    font-size: 32px;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
=======
    background-color: #333;
    font-size: 150%;
=======
    color: skyblue;
    background-color: violet;
    font-size: 10%;
>>>>>>> 639f63848c9c17e782d001b6c7d6570df3222282
    font-family: 'Satisfy', cursive;
    margin: 5em 25%;
 }